
<!DOCTYPE html>
<html>
	<head>
		<title> About </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<style>
        html, body {
          height: 100%;
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 25px;
          margin-bottom: 12px;
          padding: 0;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 400;
        }
        h1{
          margin-bottom: 5px;
        }
        #green{
          color:green;
        }

    </style>
		</head>

	<body>
    <div class="container-fluid text-center">


  <div>
    <h4>House Cleaning Near Me</h4>
    <p>  I created this platform because I was unhappy with the options presented to house cleaners and consumers. I find other
    platforms to be over engineered and purely foucused on extracting as much money as possible from their users.
    As opposed to solving their user's issues.</p>

    <p><b>House Cleaners:  </b>Some platforms extract a high percentage of every dollar a house cleaner earns.
      Others will charge a $20 fee just if somebody spam emails the house cleaner through their website and no
      revenue is earned. They call this a "Lead".  I find these practices unfair to the people doing the actual
      work.  Here I offer a platform where house cleaners can offer their services for reasonable price.
      <p id = "green">I will charge you only $2.99 per month charged monthly. You can cancel at anytime with
        no extra charges.</p>

<p><b>Consumers:  </b>Most platforms require users to insert personal data subjet to hackers.  Name, address, email, phone,
  bank information, etc. Others make join a subscription service where you have your house cleaned 2x a month for a year.  Here
  I want to simplify the process where you can compare house cleaning services, and call and talk to the ones you like.
</p>
<p><b>Contact:  </b>Russell: 786-873-7526
  Email: russm305@gmail.com

</p>
  </div>



    </div>

	</body>

</html>
