
<!DOCTYPE html>
<html>
	<head>
		<title> House Cleaning Miami Blog </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111789653-3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
			gtag('config', 'UA-111789653-3');
		</script>


		</head>
<style>

html, body {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  margin-bottom: 25px;
  padding: 0;
  font-family: Montserrat;

  background-color: 	white ;
}
h1{
  margin-top: 25px;
  margin-bottom: 25px;
}
h2{
  margin-top: 25px;
  margin-bottom: 25px;
}
p{

}


</style>

	<body>
    <div class="container-fluid text-center">
      <h1>House Cleaning Miami Blog</h1>

      <img id = "favicon" src="{{ url_for("static", filename = "image/house-cleaning.jpg") }}" alt="House Cleaning"  width="600" height="200">
      <h2>Prices, Services, Location</h2>
      <p> To get a house cleaner in Miami their are many options.  Search Engines
          offer many individual websites, some better than others.  Craigslist offers
          cleaners who decide to post their listing that day and pay $5. Many
          listings only give partial info,
          requiring you to make several calls before finding the person you need.
          On this platform we are able to compare prices, services,  and location of
          house cleaners.   </p>
          <b>PRICING:</b>
          <p>
          The price for a cleaning of a 1/1 can vary from $65 to over $120.
          Other Cleaners only charge by the hour, in three hour sets.  Some people may be
          price sensitive and require a cleaning at the low price range.  (
          Most likely not as thorough.) Here we provide a way where users can quickly
          compare prices from different providers without having to call several, write down and compare.  </p>
          <b>SERVICES:</b>
          <p>
          Some cleaners bring all necessary cleaning supplies,
          some bring partial supplies, and some bring nothing and you provide.
          Once, I hired a house cleaner for $90 on Groupon for a 1/1.  I assumed he
          would bring a broom and mop because I have ceramic floors.  Upon arrival he
          informed me that he just vacuums the tile floors with his vacuum.  I still had
          to mop after paying him to clean! Here we have a comprehensive checklist where
          house cleaners can check which supplies they bring.</p>
          <b>LOCATION:</b>
          <p>
          Closer is always better.  Miami traffic is ridiculous and only getting worse.  To live in Aventura
          and have a house cleaner come from Kendall can take over 90 minutes of travel each way.   Costing
          time, gas, delaying start time, etc.  Wouldn’t it be nice to have someone who can clean your home
          right around the corner?</p>


    </div>

	</body>

</html>
