
<!DOCTYPE html>
<html>
	<head>
		<title> House Cleaning Miami: Blog </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111789653-3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
			gtag('config', 'UA-111789653-3');
		</script>

		<style>

       body {
          height: 100%;
          margin-left: 3%;
          margin-right: 3%;
					margin-bottom: 100px;
          /* margin-bottom: 12px; */
          padding: 0;
          font-family: Montserrat;

					background-color: 	white ;
        }
				@media (min-width: 500px) {
				  body {

								margin-left: 10%;
			          margin-right: 10%;
					  }
				}
				p{
					font-size: 20px;
          font-weight: 400;
					margin-bottom: 15px;
					margin-top: 15px;
				}

				img{
					width:300px;
					height:150px;
					margin-bottom: 20px;
				}
				@media (min-width: 500px) {
				  img {

						width:300px;
						height:150px;
					  }
				}


				nav ul {
				  display: flex;
				  flex-direction: row;
				  justify-content: flex-end;
				}

				nav ul li {
				  display: flex;
				  margin:1%;
				  margin-bottom: 15px;
				  margin-top: 10px;
					 text-decoration: none;
				  font-size: 15px;
				}

				@media (min-width: 500px) {
					nav ul li {
						margin: 2%;

						font-size: 20px;
					}
		  	}

				nav ul li a {
				  color: black;
					text-decoration: none;
				}
				#blog{
					/* margin-bottom: 25px; */
					font-size: 20px;
					color: black;
				}

				.title1{
					margin-bottom: 85px;
				}
				h1{
					margin-bottom: 35px;
				}
				.list{
					margin-bottom: 20px;
					font-size: 20px;
				}


    </style>
		</head>

		<body>
			<nav>
			  <ul >
					<li><a href="{{ url_for('index') }}">Home</a></li>
			    <li><a href="{{ url_for('about') }}">About</a></li>
			    <li><a href="{{ url_for('blogpage') }}">Blog</a></li>
					<li><a href="{{ url_for('signup') }}" >Signup</a></li>


			  </ul>
			</nav>

    <div class="container-fluid text-center">

			<h1>Housecleaning Blog</h1>
			<div class = "title1">

				<h3 >
						10 places most house cleaners forget to clean.
				</h3>
				<h6>6/9/2019</h6>
				<img  src="{{ url_for("static", filename = "image/services1.jpg") }}" alt="House Cleaning">


			<p><b>Remote Controls.  </b>Often overlooked, these devices quickly accrue germs and dirt
				from whatever the person using it was touching last.  We often forget to
				wash our hands before picking up a remote.  Wipe down with a moist, clean
				cloth a few times a week.</p>
				<p><b>Throw pillows.  </b>Throw pillows get a lot exposure from family, friends
					and animals.  Being used daily and exposed to all different kind of germs and
					dander make them dirtier faster than you think.  Most throw pillows are machine
					washable, but some require extra care such as wiping down with a moist sponge to
					remove unwanted dirt.</p>
			<p><b>Door Frames.  </b>Dust will always settle on top of door frames.  It is easy to miss since it is not easily visible at 8 ft in the air.  However, if dust is allowed to remain and accrue on top of a door frame it can cause more dust to fall off onto other furniture.  This cascading effect can cause more indoor allergies.  Use a feather duster to clean the dust on top of door frames, or use a stool and a damp cloth to reach all the dust accumulated.</p>
			<p><b>Coffeemaker.  </b>Coffeemakers are used every day and should be cleaned and wiped down every day. The pot and filter should be cleaned with soap and water.  Pots will eventually get a coffee smell to them even when washed with soap and water.  To remove this smell simply soak a lemon wedge in the pot for a fresh lemony smell.  To clean the inner part brew 50/50 water and white vinegar followed by just water to remove the vinegar smell.</p>
			<p><b>Fridge and Stove.  </b>Probably the worst item on the list to clean due to the physical strength required to move these heavy items.  Food can easily fall into the big black crack between the oven and counter. Food also falls on the floor and under the fridge.  Who designs these things?  It’s best not to let food sit as it can attract ants, cockroaches and other vermin.  Once a week you should sweep and wipe behind these dirt and food collectors.</p>
			<p><b>Ceiling Fans.  </b>Similar to Door Frames, high ledges out of visible sight often accrue dust. Once it piles high enough you can see a mound of dust on top spreading all over when used.  To avoid this either use a feather duster or a stool and wipe with a damp cloth weekly.  Some people use pillow cases to wipe each blade and have dust go right into the pillow case.</p>
			<p><b>Vegetable drawer.  </b>Often, whichever fruits or vegetables we have stored will leave behind leaves.  This is usually a pretty easy clean, just wipe down with a damp cloth.  If it is really dirty, these drawers are usually designed for easy removal where you can wipe or wash in dishwasher or sink.</p>
			<p><b>Under the bed.  </b>It is easy to avoid cleaning under the bed.  You figure no one walks there so it can’t get that dirty.  Also, it takes more effort to bend over and reach down or move the bed.  So most people have an air flow in their house to stay cool or warm which will blow existing dust right under the bed.  So be sure to give a visual inspection often and a good sweep or mop once a month.</p>
			<p><b>Cell Phones.  </b>Although not necessarily a household item, cell phones are placed in all sorts of germ infested environments throughout the day. Then they are brought into the home contaminating everything the touch, including your face and hands.  You should remove cell phone cases and wipe with disinfectant daily.</p>
			<p><b>Baseboards.  </b>Baseboards should be cleaned whenever you clean your floors.  Their ledges quickly gather dust from foot traffic and air currents, and looks terrible.  Simply wipe them with a damp cloth whenever you see dust forming.</p>

		</div>
				<div class = "title1">

						<h3>
								Price, Service, Location.
						</h3>

						<h6>4/22/2019</h6>
						<img  src="{{ url_for("static", filename = "image/house-cleaning.jpg") }}" alt="House Cleaning">
						<!-- </a> -->
						<p> To get a house cleaner in Miami their are many options. Many
			          listings only give partial info,
			          requiring you to make several calls before finding the person you need.
			          On this platform we are able to compare prices, services,  and location of
			          house cleaners.   </p>
			         <b> <h4>PRICING:</h4></b>
			          <p>
			          The price for a cleaning of a 1/1 can vary from $65 to over $120.
			          Some people may be
			          price sensitive and require a cleaning at the low price range.   Here we provide a way where users can quickly
			          compare prices from different providers without having to call several, write down and compare.  </p>
			         <b> <h4>SERVICES:</h4> </b>
			          <p>
			          Some cleaners bring all necessary cleaning supplies,
			          some bring partial supplies, and some bring nothing and you provide.
			          Once, I hired a house cleaner for $90 on Groupon for a 1/1.  I assumed he
			          would bring a broom and mop because I have ceramic floors.  Upon arrival he
			          informed me that he just vacuums the tile floors with his vacuum.  I still had
			          to mop after paying him to clean! Here we have a comprehensive checklist where
			          house cleaners can check which supplies they bring.</p>
			        <b>  <h4>LOCATION:</h4></b>
			          <p >
			          Closer is always better.  Miami traffic is ridiculous and only getting worse.  To live in Aventura
			          and have a house cleaner come from Kendall can take over 90 minutes of travel each way.   Costing
			          time, gas, delaying start time, etc.  Wouldn’t it be nice to have someone who can clean your home
			          right around the corner?</p>

				</div>
				<div class = "title1">

						<h3>What is a Cuban Mop?</h3>
						<h6>4/27/2019</h6>
						<img  src="{{ url_for("static", filename = "image/cuban-mop.jpg") }}" alt="cuban mop"   >
			      <p>

								A Cuban Mop is one of the simplest, most efficient tools used to clean a floor.  It is a piece of
									wood in the shape of a T with an absorbent cloth folded on bottom T part.  The folded cloth
									provides a large surface area for quick cleaning.  When the cloth gets really soiled, you can
									just rinse it out and refold on bottom of mop.  When your done cleaning you can wash the cloth
									and you don’t have a dirty wet mop hanging around.
							</p>
							<p>
								The Cuban Mop is the inspiration for the wildly successful Swiffer Sweepers.  Notice
								how they have very similar designs.  The difference is the Swiffer is designed to have you
								purchase their chemical cleaning towels draining your wallet in perpetuity.  Also when your
								finished these dirty towels will be one more item which will end up in the ocean.  I don’t think
								I’ve ever had a cleaning service in Miami come over with a Swifter Sweeper.  If they did I would be wary.
							</p>
							<p>
								The Cuban Mop is originated in the Caribbean and was brought to Miami.  It is called “el palo de
								trapear” which translates to “the mopping stick”.  Again, simple and efficient.  Here are the
								simple steps to create your own cuban mop.
							</p>


							<img src="{{ url_for("static", filename = "image/cuban-mop-2.jpg") }}" alt="House Cleaning" >
						<!-- </div> -->

						<div class="list">
							<li>Immerse towel in cleaning solution.</li>
							<li>Squeeze and fold towel around T stick</li>
							<li>Push the towel around the room to clean the dirt.</li>
							<li>When cloth gets soiled, remove.</li>
							<li>Rinse and repeat.</li>
						</div>


							<p class="text-center">The Cuban Mop will clean your floors faster, cheaper, and more eco-friendly than other mopping choices.
								Make sure you or your housecleaner are using one!</p>
							</div>


								<form action="{{ url_for('index') }}" method="post">
								 <button class="btn btn-success btn-sm active" aria-pressed="true">Home</button>
							 </form>




    </div>


	</body>

</html>
