<!DOCTYPE html>
<html>
	<head>
		<title> House Cleaning Miami  </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/clean-1.png') }}">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9fytSdXXr6kVZdXLddFJyF9HT4JTt-qM&callback=initMap">
      src = "https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyD9fytSdXXr6kVZdXLddFJyF9HT4JTt-qM"
    </script>
		<script src="https://unpkg.com/eva-icons"></script>
		<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<script>

	     var houseclean_list=JSON.parse('{{ houseclean_list | tojson | safe }}');

	     function initMap() {
	         var map = new google.maps.Map(document.getElementById('map'), {
	           zoom: 10,
	           center: {lat: 25.8317, lng: -80.2}
	         });

	         var marker = {}
	         var myLatLng =[]

	         for (var i = 0; i < houseclean_list.length; i++) {
					 var href = "tel:"+houseclean_list[i]['phone'];
						 myLatLng[i] = {lat: houseclean_list[i]['latitude'], lng: houseclean_list[i]['longitude']};


	           marker = new google.maps.Marker({
	           position: myLatLng[i],
	           map: map,
	           });


	           // process multiple info windows
	           (function(marker, i) {
	             google.maps.event.addListener(marker, 'click', function() {
	                   infowindow = new google.maps.InfoWindow({
	                       content: '<div class="container-fluid text-center">'+

												 						'<div class="row" id = "top-row">'+
																		'<img src="{{ photo }}" alt="Red dot" />'+
																				'<img src="{{ url_for("static", filename = "image/clean-1.png") }}" alt="User Image" width="64" height="64">'+
																				// '<div>'+houseclean_list[i]['image']+'</div>'+
																				'<form action="{{ url_for('signup') }}" method="post">'+'<button class="btn btn-success btn-md active" aria-pressed="true">Sign Up</button>'+'</form>'+
																			'<div class="col-md-2 ">'+
																				'<p id = "column-title" >Name</p>'+

																			'</div>'+

																			'<div class="col-md-3">'+
																				'<p id = "column-title">Address</p>'+
																				'<div>'+houseclean_list[i]['address']+'</div>'+
																			'</div>'+

																			'<div class="col-md-2">'+
																				'<p id = "column-title">Phone</p>'+
																				'<a href='+href+'>'+"Press to Call "+houseclean_list[i]['phone']+'</a>'+
																			'</div>'+

																			'<div class="col-md-3">'+
																				'<p id = "column-title">Experience</p>'+
																				'<div>'+"houseclean for "+houseclean_list[i]['years']+" years"+'</div>'+
																			'</div>'+

																			'<div class="col-md-2">'+
																				'<p id = "column-title">Rate</p>'+
																				'<div>'+"$"+houseclean_list[i]['hourly_rate']+"/hr"+'</div>'+
																			'</div>'+

																		'</div>'+

																		'<div class="text-center" id = "description">'+'<b>'+"About: "+'</b>'+houseclean_list[i]['description']+'</div>'+

																		'<div class="text-center" id = "prices">'+"Price estimates for popular services , call for your specific house"+'</div>'+

																		'<div class="row" id = "middle-row">'+


																			'</div>'+

																			'<div class="col-md-3">'+

																			'</div>'+

																			'<div class="col-md-3">'+

																			'</div>'+

																			'<div class="col-md-3">'+

																			'</div>'+

																		'</div>'+

																		'<div class="text-center" id = "prices">'+"Other Services:"+'</div>'+



												 					'</div>'
	                   });
	                   infowindow.open(map, marker);
	               });
	           })(marker, i);
	         }
	     }
			 $(document).ready(function() {
				    initMap();
				});

 		 </script>

		<style>
				html, body {

					height: 100%;
        width: 100%;
					background-color: ;
					margin: 0;
					padding: 0;
					font: monseratt;
				}
				button{
					margin-top: 0%;
				}
				h1{
						margin-top: 3%;
				}


				#description{
					margin-bottom: 15px;
				}
				#prices{
					margin-bottom: 10px;

					font-weight: 450;
					font-size: 16px;
				}
				#column-title{
					font-size:20px;
					font-weight: 500;
					margin-bottom: 3px;
				}
				#top-row{
					margin-bottom: 10px;
				}
				#map {
					height: 200%;
					margin-left: 7%;
					margin-right: 7%;
					margin-bottom: 3%;
				}
				#exp{
					color:blue;
					margin: 5px;
					font-size: 15px;
				}

				#name{
					font-size:20px;
				}
				#red-text{
					color:red;
				}
				#green-text{
					color:green;
				}
				#blue-text{
					color:blue;
				}
				#marker-text{
					font-size: 25px;
				}
				.bottom-margin{
					margin-bottom: 3%;
				}
				.left-side{
					margin-top: 5%
				};
				.bottom{
					margin-bottom: 8%
				}

		</style>
	</head>
  <body>

	<div class="container-fluid text-center ">
			<h1>House Cleaning Miami </h1>
			<h1>{{photo}}</h1>
			<img src="{{ photo }}" alt="User Image" width="64" height="64">
			<h4>"photo"</h4>

			<div id="map" style="clear:both; height:500px;"></div>
			<img src="{{ photo }}" alt="Red dot" />
			<div class="row bottom" >
			    <div class="col-md-2">



			    </div>
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
						<h7>House Cleaner? Sign up free!</h7>
						<form action="{{ url_for('signup') }}" method="post">
							<button class="btn btn-success btn-sm active" aria-pressed="true">Sign Up</button>
						</form>
					</div>
					<div class="col-md-2">
						<h7>Member? Sign in.</h7>
						<form action="{{ url_for('signin') }}" method="post">
							<button class="btn btn-primary btn-sm active" aria-pressed="true">Sign In</button>
						</form>
					</div>
					<div class="col-md-2">
					</div>
					<div class="col-md-2">
					</div>



			  </div>




  </body>
</html>
