<!DOCTYPE html>
<html>
	<head>
		<title> Signup Form </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<style>

				form{
					margin-bottom: 15px;
					margin-top: 10px;
          margin-right: 8%;
          margin-left: 8%;
				}
        button{
					margin-top:5px;
				}
				.input-fields{
					margin: 10px;
				}
				.container-fluid{
					background-color: ;
				}
				p{
					font-family: Montserrat;
					color: blue;
					font-size:15px;
				}
		</style>
		</head>

	<body>
    <div class="container-fluid">
  		<div class="row">
  				<div class="col-md-2">
  				</div>

  				<div class="col-md-8" align="center">
  						<div >
  								<h1>House Cleaner Sign Up</h1>
  								<form action="{{ url_for('signup_check') }}" method="post"  enctype = "multipart/form-data">
										<div class = "input-fields" >
	  	 					 				<input type="text" name="name" placeholder="Name" maxlength="20" required>
	  	 					 		</div>
										<div class = "input-fields" >
	  	 					 				<input type="text" placeholder="Password" maxlength="20" size = "20" required>
	  	 					 		</div>
										<div class = "input-fields" >
	  	 					 				<input type="text" name="password" placeholder="Re-enter Password" maxlength="20" size = "20" required>
	  	 					 		</div>

										<div class = "input-fields" >
	  	 					 				<input type="text" name="email" placeholder="Email" maxlength="40" size = "30" required>

	  	 					 		</div>
										<div class = "input-fields" >

											<input type = "file" name = "image" />
											<!-- <input type = "submit"/> -->
											<!-- <input type = "submit"/> -->
	  	 					 		</div>

										<div class = "input-fields">

	  										<input type="number" name="phone1" placeholder="Area" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required>
												<input type="number" name="phone2" placeholder="Phone" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required>
												<input type="number" name="phone3" placeholder="Number" oninput="if(value.length>4)value=value.slice(0,4)" min="1" max="99999" required>
	  								</div>
	  	 					 		<div class = "input-fields">
	  	 					 			 	<input type="text" name="street" placeholder="Street" maxlength="90" required>
	  	 					 		</div>
	  	 					 		<div class = "input-fields">
	  	 					 			 	<input type="text" name="city" placeholder="City" maxlength="20" required>
	  	 					 		</div>
	  	 					 		<div class = "input-fields">
	  	 					 			 	<input type="text" name="state" placeholder="State" maxlength="20" required>
	  	 					 		</div>
	  								<div class = "input-fields">
	  	 					 			 	<input type="text" name="zip_code" placeholder="Zip Code" maxlength="20" >
	  	 					 		</div>

										<div class = "input-fields">
	  										<span >How many years house cleaning?</span>
	  										<input type="number" name="years" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required>
	  								</div>
										<div class = "input-fields">
	  										<span >Hourly Rate</span>
	  										<input type="number" name="hourly_rate" placeholder="$" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required>
	  								</div>
	  								<div class="form-group">
	  										<textarea class="form-control" name="description" placeholder="Experience, Certifications, and Specialties. Days/Hours Available. | Experiencia, Certificaciones y Especialidades.  Horas días disponibles" rows="3"  maxlength="400"  required></textarea>
	  							  </div>


	  								<button class="btn btn-success btn-md ">Submit</button>
  								</form>
  								</div>
									<h3 class="text-center">Subscribe $2.99 Month</h3>
									<form name="topaypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
										<input type="hidden" name="cmd" value="_xclick-subscriptions">
										<!-- <input type="hidden" name="custom" value="{{session['username']}}"/> -->
										<input type="hidden" name="business" value="russm305@gmail.com">
										<input type="hidden" name="item_name" value="subscription">
										<input type="hidden" name="item_number" value="500">
										<input type="hidden" name="no_shipping" value="1">
										<input type="hidden" name="a3" value="2.99">
										<input type="hidden" name="p3" value="1">
										<input type="hidden" name="t3" value="M">
										<input type="hidden" name="src" value="1">
										<input type="hidden" name="sra" value="1">
										<input type="hidden" name="return" value="http://104.236.221.91/success/">
										<input type="hidden" name="cancel_return" value="http://104.236.221.91/">
										<input type="hidden" name="notify_url" value="http://104.236.221.91/ipn/">
										<input type="submit" value="Subscribe" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
									<!-- </form> -->
									<!-- <form action = "{{ url_for('uploader') }}" method = "POST" -->
										 <!-- enctype = "multipart/form-data"> -->
										 <!-- <input type = "file" name = "image" /> -->
										 <!-- <input type = "submit"/> -->
									<!-- </form> -->

  					</div>
  					<div class="col-md-2">
  							 <div>
  								</div>
  					</div>
  			</div>
  	</div>

	</body>

</html>
