<!DOCTYPE html>
<html>
	<head>
		<title> Cleaning Services Signup Form </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

		<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111789653-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-111789653-3');
	</script>

		<style>
				body {
					height: 100%;
					margin-left: 3%;
					margin-right: 3%;
					margin-bottom: 100px;
					padding: 0;
					font-family: Montserrat;
					background-color: 	white ;
				}
				@media (min-width: 500px) {
					body {
						margin-left: 10%;
						margin-right: 10%;
						}
				}
				form{

					margin-bottom: 15px;
					margin-top: 10px;
          margin-right: 8%;
          margin-left: 8%;
				}
        .btn-success{
					margin-top:5px;
				}

				.input-fields{
					margin: 10px;
				}
				.container-fluid{
					background-color: ;
				}
				.signin{
					margin-top:0px ;
				}
				p{
					font-size: 18px;
					color: black;
					margin-bottom: -5px;
					margin-top: 15px;
				}

				h1{
					margin-top: 25px;
					color:;
				}
				.image{
					margin-bottom: 20px;
					margin-top: 15px;
				}
				h5{
					margin-top: 25px;
					margin-bottom: 12px;
				}
				#su{
					margin-top: -10px;
				}
				img{
					width:300px;
					height:150px;
					margin-bottom: 20px;
				}
				@media (min-width: 500px) {
				  img {

						width:300px;
						height:150px;
					  }
				}
				nav ul {
				  display: flex;
				  flex-direction: row;
				  justify-content: flex-end;
				}

				nav ul li {
				  display: flex;
				  margin:2%;
				  margin-bottom: 15px;
				  margin-top: 10px;
					 text-decoration: none;
				  font-size: 15px;
				}

				@media (min-width: 500px) {
					nav ul li {
						margin: 2%;

						font-size: 20px;
					}
		  	}

				nav ul li a {
				  color: black;
					text-decoration: none;
				}
				font-weight{
					/* font-weight: 400; */
					/* font-size: 26px; */
				}
				label{
					font-weight: 400;
					font-size: 25px;
				}

				#tn{
					font-weight: 500;
					font-size: 30px;
				}
				input[type=checkbox] {width:16px; height:16px;}


		</style>
		</head>




	<body>
		<nav>
			<ul >
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
				<li><a href="{{ url_for('blogpage') }}">Blog</a></li>
				<li><a href="{{ url_for('signup') }}" >Signup</a></li>


			</ul>
		</nav>

    <div class="container-fluid text-center font-weight">



  								<h1>House Cleaner Sign Up</h1>
									<img  src="{{ url_for("static", filename = "image/cleaningservice.jpg") }}" alt="House Cleaning"   >
  								<form action="{{ url_for('signup_check') }}" method="post"  enctype = "multipart/form-data">

										<div class = "input-fields" >
												<label for="name_label">Name</label>
	  	 					 				<input id="name_label"type="text" name="name" placeholder="Name" maxlength="40" required>
	  						 		</div>

										<div class = "input-fields" >
												<label for="password_label">Password</label>
	  	 					 				<input id="password_label" type="text" placeholder="Password" maxlength="20" size = "20" required>
	  	 					 		</div>

										<div class = "input-fields" >
												<label for = "re_password_label">Re-enter Password</label>
	  	 					 				<input id = "re_password_label" type="text" name="password" placeholder="Re-enter Password" maxlength="20" size = "20" required>
	  	 					 		</div>

										<div class = "input-fields" >
												<label for = "email_label" >Email</label>
	  	 					 				<input id = "email_label" type="text" name="email" placeholder="Email" maxlength="40" size = "25" required>
										</div>

										<div class = "input-fields image" >
											<label for = "photo_label" >Photo (Smaller than 1 Mb)</label>
											<input id = "photo_label" type = "file" name = "image" accept="image/x-png, image/jpeg, image/jpg"/ required>
	  	 					 		</div>

										<div class = "input-fields">

											<div>
												<label id = "tn">Telephone Number</label>
											</div>
											<div><label for = "area_label" >Area Code</label>
											<input id = "area_label" type="number" name="phone1" placeholder="Area" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required></div>
											<div><label for = "phone_label" >Phone</label>
											<input id = "phone_label" type="number" name="phone2" placeholder="Phone" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required></div>
											<div><label for = "pnumber_label" >Number</label>
											<input id = "pnumber_label" type="number" name="phone3" placeholder="Num" oninput="if(value.length>4)value=value.slice(0,4)" min="1" max="99999" required></div>

	  								</div>

										<label>Address does not need be exact.  A general area of your location so people
											know how close you are.</label>
	  	 					 		<div class = "input-fields">
												<label for = "street_label" >Street</label>
	  	 					 			 	<input id = "street_label" type="text" name="street" placeholder="Street" maxlength="90" required>
	  	 					 		</div>
	  	 					 		<div class = "input-fields">
												<label for = "city_label" >City</label>
	  	 					 			 	<input id = "city_label" type="text" name="city" placeholder="City" maxlength="20" required>
	  	 					 		</div>
	  	 					 		<div class = "input-fields">
												<label for = "state_label" >State</label>
	  	 					 			 	<input id = "state_label" type="text" name="state" placeholder="State" maxlength="20" required>
	  	 					 		</div>
	  								<div class = "input-fields">
												<label for = "zip_label" >Zip Code</label>
	  	 					 			 	<input id = "zip_label" type="text" name="zip_code" placeholder="Zip Code" maxlength="20" >
	  	 					 		</div>
										<div class = "input-fields">

											<label for = "years_label" >How many years experience?</label>
	  										<input id="years_label" type="number" name="years" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="99999" required>
	  								</div>

	  								<div class="form-group">
											<label for = "description_label" id = "tn">Description</label>
	  										<textarea id="description_label" class="form-control" name="description" placeholder="Describe your Cleaning Service. Days/Hours Available. Payment Options." rows="3"  maxlength="600"  required></textarea>
	  							  </div>

										<label id = "tn">How much do you charge for cleaning?</label>


	  								<div class = "input-fields">
												<label for = "studio_label" > Studio</label>
	  										<input id="studio_label" type="number" name="studio" placeholder="$" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="999" required>
	  								</div>
										<div class = "input-fields">
	  										<label for = "onebed_label" >1 Bed/ 1 Bath</label>
	  										<input id="onebed_label" type="number" name="one_bed" placeholder="$" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="999" required>
	  								</div>
										<div class = "input-fields">
	  										<label for = "twobed_label" >2 Bed/ 2 Bath</label>
	  										<input id="twobed_label" type="number" name="two_bed" placeholder="$" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="999" required>
	  								</div>
										<div class = "input-fields">
	  										<label for = "threebed_label" >3 Bed/ 3 Bath</label>
	  										<input id="threebed_label" type="number" name="three_bed" placeholder="$" oninput="if(value.length>3)value=value.slice(0,3)" min="1" max="999" required>
	  								</div>

										<label id = "tn">Check which cleaning items you supply.</label>

										<div class="input-fields">
												<label for = "broom_label" >Broom + Dust-Pan</label>
	  										<input id = "broom_label" type="checkbox" name="broom">
	  								</div>

										<div class="input-fields">
												<label for = "mop_label" >Mop + Bucket</label>
	  										<input id = "mop_label" type="checkbox" name="mop">
	  								</div>

										<div class="input-fields">
												<label for = "vacuum_label" >Vacuum</label>
	  										<input id = "vacuum_label" type="checkbox" name="vacuum">
	  								</div>

										<div class="input-fields">
												<label for = "disinfectant_label" >Disinfectant + Glass Cleaner</label>
	  										<input id = "disinfectant_label" type="checkbox" name="disinfectant">
	  								</div>

										<div class="input-fields">
												<label for = "ss_label" >Soap Scum Remover</label>
	  										<input id = "ss_label" type="checkbox" name="soap_scum">
	  								</div>

										<div class="input-fields">
												<label for = "scrub_label" >Scrub Pads</label>
	  										<input id = "scrub_label" type="checkbox" name="scrub_pads">
	  								</div>

										<div class="input-fields">
												<label for = "tb_label" >Toothbrush/Grout Brush</label>
	  										<input id = "tb_label" type="checkbox" name="tooth_brush">
	  								</div>

										<div class="input-fields">
												<label for = "scraper_label" >Plastic Scraper</label>
	  										<input id = "scraper_label" type="checkbox" name="scraper">
	  								</div>

										<div class="input-fields">
												<label for = "sponges_label" >Sponges/Wipes</label>
	  										<input id = "sponges_label" type="checkbox" name="sponges">
	  								</div>

										<div class="input-fields">
												<label for = "pt_label" >Paper Towels</label>
	  										<input id = "pt_label" type="checkbox" name="paper_towels">
	  								</div>

	  								<button id ="su" class="btn btn-success btn-md ">Sign Up</button>
  								</form>

									<h5>Already a Member? Sign in.</h5>
									<form action="{{ url_for('signin') }}" method="post">
										<button class="btn btn-primary btn-sm active signin" aria-pressed="true">Sign In</button>
									</form>
  								</div>

									<!-- <h3 class="text-center">Subscribe $2.99 Month</h3> -->

									<form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" enctype = "multipart/form-data">

										<!-- <input type = "file" name = "image" accept="image/x-png, image/jpeg, image/jpg"/> -->

										<input type="hidden" name="cmd" value="_xclick-subscriptions">
										<!-- <input type="hidden" name="custom" value="{{session['username']}}"/> -->
										<input type="hidden" name="business" value="russm305@gmail.com">
										<input type="hidden" name="item_name" value="subscription">
										<input type="hidden" name="item_number" value="500">
										<input type="hidden" name="no_shipping" value="1">
										<input type="hidden" name="a3" value="2.99">
										<input type="hidden" name="p3" value="1">
										<input type="hidden" name="t3" value="M">
										<input type="hidden" name="src" value="1">
										<input type="hidden" name="sra" value="1">
										<input type="hidden" name="return" value="http://104.236.221.91/success/">
										<input type="hidden" name="cancel_return" value="http://104.236.221.91/">
										<input type="hidden" name="notify_url" value="http://104.236.221.91/ipn/">
								 		<!-- <input type="submit" value="Subscribe" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-primary"> -->
									</form>

  	</div>

	</body>

</html>
