
<!DOCTYPE html>
<html>
	<head>
		<title> User </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<style>
        html, body {
          height: 100%;

          margin: 3%;
          padding: 0;
          font-family: Montserrat;
					background-color:	white;
        }
				.container-fluid{

				}
        ul{
          font-size:20px;
          list-style-type: none;
        }
        button{
          margin:10px;
        }

		</style>
		</head>

	<body>
    <div class="container-fluid text-center">
      <ul>
        <li>name {{user[0]['name']}}</li>
        <li>address {{user[0]['address']}}</li>
        <li>phone {{user[0]['phone']}}</li>
        <li>email {{user[0]['email']}}</li>
        <li>description {{user[0]['description']}}</li>
      </ul>

      <form action="{{ url_for('delete_account', phone=user[0]['phone']) }}" method="post">
        <button class="btn btn-danger btn-sm active" aria-pressed="true">Delete Account</button>
      </form>

    </div>

	</body>

</html>

image_file = None
image = None
name = None
password1 = None
salt = None
db_password = None
h = None
password = None
phone1 = None
phone2 = None
phone3 = None
string1 = None
string2 = None
string3 = None
phone= None
street = None
city = None
state = None
zip_code = None
email = None
years = None
description = None
two_hour = None
three_hour = None
six_hour = None
broom = None
mop = None
vacuum = None
disinfectant = None
soap_scum = None
tooth_brush = None
scraper = None
sponges = None
scrub_pads = None
paper_towels = None
address = None
params = None
res = None
response = None
latlng = None
latitude = None
longitude = None
